@import 'common.css';

header {
  display: flex;
  align-items: center;
}

header > * {
  flex-basis: calc(100% / 3);
}

header h1 {
  display: none;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

header nav {
  order: -1;
}

header nav button {
  background: transparent;
  border: none;
}

header p {
  text-align: right;
}

header p a {
  display: block;
  color: var(--red);
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

/* Content */

/* Content: nav */

main {
  overflow: hidden;
}

section#content {
  height: 100%;
  transform: translateX(-60vw);
  display: grid;
  grid-template-columns: 60vw 100vw 100vw;
  transition: transform 500ms;
}

section#content.menu-visible {
  transform: translateX(0);
}

section#content.menu-visible section#notes {
  opacity: 0.25;
}

section#content.note-visible {
  transform: translateX(-160vw);
}

section#content nav {
  background-color: var(--orange);
}

section#content nav ul {
  padding: 1rem 0;
}

section#content nav ul li {
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
}

section#content nav ul li.selected {
  background: var(--dark);
}

section#content nav ul li.selected a {
  color: var(--orange);
}

section#content nav ul li a {
  color: var(--dark);
  font-weight: bold;
  text-decoration: none;
}

/* Content: notes */

section#notes {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  transition: opacity 500ms;
}

section#notes form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

section#notes form fieldset {
  border: none;
  flex-grow: 1;
  margin-right: 1rem;
}

section#notes form label {
  display: none;
}

section#notes form input {
  width: 100%;
  background: var(--dark);
  color: var(--orange);
  padding: 0.75rem;
  border: 2px solid var(--orange);
  font-size: 1rem;
  padding-left: 2.5rem;
  background-image: url('/img/search.svg');
  background-repeat: no-repeat;
  background-position: 0.5rem center;
}

section#notes form input::selection {
  background-color: var(--orange);
  color: var(--dark);
}

section#notes form button {
  background: transparent;
  border: none;
}

/* Content: notes list */

section#notes ul {
  overflow: scroll;
}

section#notes ul li {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--gray);
}

section#notes ul li h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

section#notes ul li.selected {
  background-color: var(--orange);
  border-bottom: 0.5rem solid var(--red);
}

section#notes ul li.selected > * {
  color: var(--dark);
}

section#notes ul li p {
  color: var(--gray);
  font-size: 0.75rem;
}

/* Content: note */

article#note {
  padding: 1rem;
}

article#note form {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
}

article#note form fieldset {
  border: none;
  margin-bottom: 1rem;
}

article#note form label {
  display: none;
}

article#note form input,
article#note form textarea {
  width: 100%;
  height: 100%;
  background: var(--dark);
  color: var(--orange);
  border: none;
  font-size: 1.25rem;
  font-family: inherit;
}

article#note form input#title {
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

article#note form p {
  text-align: right;
  margin-bottom: 1rem;
}

article#note form p a {
  font-family: Oswald, sans-serif;
  color: var(--red);
  text-transform: uppercase;
  text-decoration: none;
  background-image: url('/img/garbage.svg');
  padding-right: 1.5rem;
  background-repeat: no-repeat;
  background-position: right center;
}

article#note form textarea {
  color: var(--gray);
}

article#note form button {
  background-color: transparent;
  border: none;
}

/* Big screens */

@media (min-width: 800px) {
  header > * {
    flex-basis: 50%;
  }

  header h1 {
    display: block;
  }

  header h2 {
    display: none;
  }

  header nav {
    display: none;
  }

  section#content {
    grid-template-columns: 10rem 20rem 1fr;
    transform: translateX(0);
  }

  article#note form button {
    display: none;
  }

  section#content.note-visible,
  section#content.menu-visible {
    transform: translateX(0);
  }

  section#content.menu-visible section#notes {
    opacity: 1;
  }
}
