.form-control {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
  position: relative;
  color: var(--dark);
}

.form-control.reviewCreate {
  align-items: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

input {
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid var(--dark);
  padding: 10px;
  background: transparent;
  outline: none;
  color: inherit;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

.errorMessage {
  position: absolute;
  top: 65px;
  font-size: 0.8rem;
  color: var(--ko);
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-visible {
  background-image: url("../img/eye.png");
  background-size: 1.75rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  float: inline-start;
  margin-left: 235px;
  margin-top: -40px;
  position: relative;
}

.password-invisible {
  background-image: url("../img/invisible.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  float: inline-start;
  margin-left: 235px;
  margin-top: -40px;
  position: relative;
}

input[type="file"] {
  display: none;
}

.next {
  position: relative;
  margin-top: 0.5rem;
}

.prev {
  position: relative;
}

button:disabled {
  background: #dddddd;
  border-color: #dddddd;
}
