.advance {
  position: relative;
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  padding: 0.4rem 2.5rem;
  border: 2px solid var(--blue);
  border-radius: 15px;
  font-weight: 400;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:disabled {
  background: #dddddd;
  border-color: #dddddd;
}

.buttonsPrevNext {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.errorMessage {
  position: absolute;
  top: 65px;
  font-size: 0.8rem;
  color: var(--ko);
}

.errorMessageTextArea {
  position: absolute;
  top: 100px;
  font-size: 0.8rem;
  color: var(--ko);
}

.findCity {
  position: relative;
}

.resFindCity {
  position: absolute;
  height: 8rem;
  width: 16rem;
  border: 1px solid #ddd;
  background: var(--lgray);
  overflow-y: scroll;
  top: 2.5rem;
  z-index: 9;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
  position: relative;
  color: var(--dark);
}

.form-control.reviewCreate {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  position: relative;
  color: var(--dark);
}

h2.marginBottom {
  margin-bottom: 20px;
}

h2.marginTop {
  margin-top: 30px;
}

input {
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid var(--dark);
  padding: 10px;
  background: transparent;
  outline: none;
  color: inherit;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

input[type="file"] {
  display: none;
}

.password-visible {
  background-image: url("../img/eye.png");
  background-size: 1.75rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  float: inline-start;
  margin-left: 235px;
  margin-top: -40px;
  position: relative;
}

.password-invisible {
  background-image: url("../img/invisible.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  float: inline-start;
  margin-left: 235px;
  margin-top: -40px;
  position: relative;
}

.upload {
  margin: var(--space-lg);
  padding: 0.25rem 1.5rem;
  font-weight: 400;
}

legend {
  display: none;
}
