.header {
  display: flex;
  align-items: center;
  padding: var(--space-md);
  background-color: lightgray;
}

.header nav ul{
  display: flex;
  align-items: center;
  padding: var(--space-md);
  background-color: lightgray;
}

.header fieldset ul{
  display: flex;
  align-items: center;
  padding: var(--space-md);
  background-color: lightgray;
}


