/* Importar en index.js debido a un bug en codesandbox */

@import "./theme.css";
@import "./header.css";
@import "./footer.css";
@import "./buttons.css";
@import "./forms.css";
@import "./utils.css";
@import "./dialog.css";

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body,
#root {
  font-family: var(--font-primary);
  height: 100%;
  background: var(--bright);
  color: var(--dark);
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section#info {
  background-color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  color: var(--dark);
}

h1 {
  font-size: var(--font-xxl);
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-l);
}

h4 {
  font-size: var(--font-m);
}

h5 {
  font-size: var(--font-sm);
}

h6 {
  font-size: var(--font-xs);
}

p {
  font-size: var(--font-sm);
}

a {
  font-family: var(--font-secondary);
  color: var(--blue);
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  border-bottom: 2px solid var(--dark);
}

a:active {
  opacity: 1;
  border-bottom: 2px solid var(--medium);
}

ul {
  list-style-type: none;
}

ul > li {
  cursor: pointer;
}

/**
CSS autocompletamiento
**/
.autocompletamiento {
  display: flex;
}

.busqueda {
  position: relative;
  /* width: 100vw; */
  height: 2rem;
}

.resBusqueda {
  position: absolute;
  height: 7rem;
  width: 12rem;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
  top: 1.4rem;
  right: -1;
}

/**
CSS scroll para formularios
**/
.scroll {
  overflow-y: scroll;
}

/**
CSS para reviewUser
**/

main.userReview {
  margin-top: 1rem;
}

main.userReview h3 {
  text-align: center;
}

ul.review-list {
  list-style: none;
  margin: 1rem;
  padding: 1rem, 2rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
}

ul.review-list .box-header h5 {
  background: var(--lgray);
}

/**
CSS para HOME
**/

section.search-reviews,
.top-companies {
  margin-top: 1rem;
}

section.search-reviews,
.top-companies h3 {
  text-align: center;
  text-transform: none;
}

/**
CSS para company
**/

main.company {
  margin-top: 1rem;
}

main.company h3 {
  text-align: center;
  text-transform: none;
}

main.company h4,
h5 {
  text-transform: none;
}

header.box-header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

section.box-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul.select-box {
  list-style: none;
  display: grid;
}

ul.review-list {
  list-style: none;
  margin: 1rem;
  padding: 1rem, 2rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
}

ul.review-list .box-header h5 {
  background: var(--lgray);
}

section.box-flex {
  display: flex;
  margin: 0.5rem;
}

button.btn {
  text-transform: none;
  font-size: 75%;
  margin-right: 0.5rem;
}

/**
CSS para advanced search
**/

section.box-flex {
  display: flex;
  margin: 0.5rem;
}

button.btn {
  text-transform: none;
  font-size: 75%;
  margin-right: 0.5rem;
}
