.starsReview {
  display: flex;
  margin: 35px 0;
  position: relative;
  color: var(--dark);
}

label.itemsReview {
  display: inline;
}

div.ammount {
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--dark);
}

.second-part-review fieldset {
  border: none;
}
