:root {
  /* colors */
  --dark: #000;
  --bright: #ffff;
  --blue: #195ff7;
  --darkblue: #003399;
  --lgray: #f8f8f8;
  --gray: #909090;
  --ko: #e92119;
  --onegray: #e9e9e5;
  --twogray: #d4d6c8;
  --threegray: #9a9b94;
  --fourgray: #52524e;

  /* font-sizes */
  --font-xs: 0.8rem;
  --font-sm: 1rem;
  --font-m: 1.2rem;
  --font-l: 1.5rem;
  --font-xl: 1.8rem;
  --font-xxl: 2rem;

  /* spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;
}
