:root {
  /* colors */
  --dark: #000;
  --bright: #FFFF;
  --blue: #195FF7;
  --lgray: #F8F8F8;
  --gray: #909090;
  --ko: #e92119;

  /* font-sizes */
  --font-xs: 0.8rem;
  --font-sm: 1rem;
  --font-m: 1.2rem;
  --font-l: 1.6rem;
  --font-xl: 1.8rem;
  --font-xxl: 2rem;

  /* spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 3rem;
}
