@import "index.css";

main form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.errorMessage {
  position: absolute;
  top: 75px;
  font-size: 0.8rem;
  color: var(--ko);
}
