.b-l {
  border-left: 2px solid var(--lgray);
}

.b-b {
  border-bottom: 2px solid var(--lgray);
}

.b-log {
  border-left: 2px solid var(--onegray);
}

.b-bog {
  border-bottom: 2px solid var(--onegray);
}

.p-l-md {
  padding-left: var(--space-md);
}

.p-t-sm {
  padding-top: var(--space-sm);
}

.p-t-md {
  padding-top: var(--space-md);
}

.p-t-lg {
  padding-top: var(--space-lg);
}

.p-b-sm {
  padding-bottom: var(--space-sm);
}

.p-b-md {
  padding-bottom: var(--space-md);
}

.m-t-md {
  margin-top: var(--space-md);
}

.m-t-lg {
  margin-top: var(--space-lg);
}

.m-t-xl {
  margin-top: var(--space-xl);
}

.m-r-xs {
  margin-right: var(--space-xs);
}

.m-r-sm {
  margin-right: var(--space-sm);
}

.m-r-md {
  margin-right: var(--space-md);
}

.m-r-lg {
  margin-right: var(--space-lg);
}

.m-r-xl {
  margin-right: var(--space-xl);
}

.m-l-xs {
  margin-left: var(--space-xs);
}

.m-l-sm {
  margin-left: var(--space-sm);
}

.m-l-md {
  margin-left: var(--space-md);
}

.m-l-lg {
  margin-left: var(--space-lg);
}

.m-l-xl {
  margin-left: var(--space-xl);
}

.m-b-xs {
  margin-bottom: var(--space-xs);
}

.m-b-md {
  margin-bottom: var(--space-md);
}

.m-b-lg {
  margin-bottom: var(--space-lg);
}

.f-s-xs {
  font-size: var(--font-xs);
}

.f-s-sm {
  font-size: var(--font-sm);
}

.f-s-m {
  font-size: var(--font-m);
}

.f-s-l {
  font-size: var(--font-l);
}

.f-s-xl {
  font-size: var(--font-xl);
}

.f-s-xxl {
  font-size: var(--font-xxl);
}

.f-c-gray {
  color: var(--gray);
}

.f-c-fourgray {
  color: var(--fourgray);
}

.f-c-ko {
  color: var(--ko);
}

.flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.txtCenter {
  text-align: center;
}
