.b-l {
  border-left: 2px solid var(--lgray);
}

.b-b {
  border-bottom: 2px solid var(--lgray);
}

.p-t-md {
  padding-top: var(--space-md);
}

.m-t-xl {
  margin-top: var(--space-xl);
}

.m-t-lg {
  margin-top: var(--space-lg);
}

.m-r-xs {
  margin-right: var(--space-xs);
}

.m-r-md {
  margin-right: var(--space-md);
}

.m-r-lg {
  margin-right: var(--space-lg);
}

.m-r-xl {
  margin-right: var(--space-xl);
}

.m-l-md {
  margin-left: var(--space-md);
}

.m-l-sm {
  margin-left: var(--space-sm);
}

.f-s-xs {
  font-size: var(--font-xs);
}

.f-s-sm {
  font-size: var(--font-sm);
}

.f-s-m {
  font-size: var(--font-m);
}

.f-s-l {
  font-size: var(--font-l);
}

.f-s-xl {
  font-size: var(--font-xl);
}

.f-s-xxl {
  font-size: var(--font-xxl);
}

.flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate-multiline-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
